/* Set the margin, background color, and font family for the entire body of the page */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}


/* Set the margin, background color, and font family for the entire body of the page */
#header2 {
  position: center;
    
  background-color: #fff;
  z-index: 999;
}


body {
	margin: 0px;
	background-color: #c5ded5;
	font-family: arial;
}

/* Style the header section with a specific background color, margin, color, padding, max width, height, and border */
#header {
	background-color: #88ebf3;
	margin: 0 auto;
	color: #ed4c2b;
	padding: 10px;
	max-width: 600px;
	height: auto;
	border-bottom: solid 5px #b16a09;
}

/* Style the navigation section with a specific background color, color, margin, padding, max width, and border */
#navigation {
	background-color: #88ebf3;
	color: #ed4c2b;
	margin: 0 auto;
	max-width: 600px;
	padding: 10px;
	border-bottom: solid 5px #008ba3;
}

/* Style the footer section with a specific background color, padding, color, max width, margin, height, and clear */
#footer {
	background-color: #ecae49;
	padding: 10px;
	color: #ed4c2b;
	max-width: 600px;
	margin: 0 auto;
	height: auto;
	clear: both;
}

/* Style the table with a class of "tbF" by setting the color */
.tbF {
	  color: #444;
  table-layout: fixed;
  width: 90%;
  border-collapse: separate; /* Prevent table border from collapsing */
}

/* Style all table rows except the first one with a pointer cursor and a transition effect */
.tbF tr {
	cursor: pointer;
	transition: all .25s ease-in-out;
}

/* Change the background color of a table row when hovered over */
.tbF tr {
	background-color: transparent;
}

/* Style text input elements with a width of 90% */
input[type="text"] {
	width: 90%;
}

/* Style button input elements with a bold font-weight and automatic width */
input[type="button"] {
	width: auto;
	font-weight: bold;
}

/* Style an element with an ID of "column1" with a specific max width, color, margin, background color, padding, height, and border */
#column1 {
	max-width: 600px;
	color: #ed4c2b;
	margin: 0 auto;
    margin-top: 15px;
	background-color: #bff763;
	padding: 10px;
	height: auto;
	border-bottom: solid 3px #b16a09;
}

/* Style an element with  an ID of "postLink" with a specific max width, color, margin, background color, padding, height, and border */
#postLink {
	max-width: 600px;
	color: #fff;
	margin: 0 auto;
    margin-top: 15px;
	background-color: #aaed3c;
	padding: 10px;
	height: auto;
	border-bottom: solid 5px #b16a09;
}

/* Style all anchor elements with a specific color and no text decoration */
a {
	color: #fff;
	text-decoration: none;
}

/* Change the color and add an underline to an anchor element when hovered over */
a:hover {
	color: #008ba3;
	text-decoration: underline;
}

/* Style anchor elements within the header section with a specific color */
#header a {
	color: #9b2917;
}

/* Change the color and font weight of an anchor element within the header section when hovered over */
#header a:hover {
	font-weight: normal;
	color: #9b2917;
}

/* Style list items within the navigation section with a float position and relative positioning */
/* Navigation Styles */
#navigation li {
	float: center;
	position: relative;
}

#navigation li a {
	float: left;
	display: flow-root;
	color: #9b2917;
	font-size: 25px;
	text-decoration: inherit;
	padding: 25px 30px;
	margin: 0px;
	border: 0;
	border-right: 1px solid #d1cbbd;
	outline: 0;
}

#navigation li a:hover,
#navigation li#active a {
	color: #9b2917;
	background: rgba(0, 214, 203, 0.3);
}

/* Selected item style */
.selected {
  background-color: coral;
}

/* Table Styles */
table.tbF {
	margin: auto;
	max-width: 600px;
	border-collapse: collapse;
	font-family: "Arial", Times, serif;
}

table.tbF thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: small;
	font-style: oblique
}

.tbF th, td {
  padding: 0px;
  
}

/*tr:hover td {
  background: #add8e6  !important;
}
*/

td {
    padding-top: 8px;
        padding-bottom: 8px;
}

/* Form Styles */
input, textarea {
  border: 5px solid white; 
  padding: 10px;
  margin: 0 0 10px 0;
}

input[type="text"]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 4px #ed1c24 inset;
  -moz-box-shadow: 0 0 4px #ed1c24 inset;
  -ms-box-shadow: 0 0 4px #ed1c24 inset;
  -o-box-shadow: 0 0 4px #ed1c24 inset;
  box-shadow: 0 0 4px #ed1c24 inset;
  background-color: #fff;
  border: 1px solid #ed1c24;
  outline: none;
  width: auto;
}

/* General Styles */
.container {
	margin: 0 auto;
	max-width: 600px;
}

pre {
  font-family: "arial", courier, serif;
}

.quote-row {
  margin: 0px;
}

.quote-title {
  margin: -3px;
}

#header_notify {
  background-color: #FFD580;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Set a style for all buttons */
button {

  background-color: #ee4d2d;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

button:hover {
  opacity:5;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    margin: 0px;
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container2 {
  padding: 10px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100px; /* Full width */
  height: 30px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #c5ded5;
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  max-width: 320px; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 5px;
}
 
/* The Modal Close Button (x) */
.close {
  position: fixed;
  right: 14%;
  top: 14%;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 200px) {
  .cancelbtn, .deletebtn {
     width: 50%;
  }
}

/*autogenerated div inside the tablebody*/

.quote-row{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  /* background-color: #f44336;*/
}
    

#title {
  padding-left: 36px;
  background-image: url(icoLink.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
    border:  solid 1px #aaa;
  background-size: 24px 24px;
}

#author {
  padding-left: 36px;
  background-image: url(icoUser.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
    border:  solid 1px #aaa;
  background-size: 24px 24px;
}

#quote {
  padding-left: 36px;
  background-image: url(icoText.svg);
  background-repeat: no-repeat;
  background-position: 5px top;
  background-size: 24px 36px;
    
    border:  solid 1px #aaa;
    
      border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
    margin-bottom: 5px;
}

#cancel-button{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

#save-button{
    margin-top: 5px;
background-color: #ff3912;
border-radius: 20px;
    margin-bottom: 5px;
}

#title{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#show-form-button{
   background-color: #ff3912;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
    margin-bottom: 4px; 
}

#more-button{
    background-color: #ff3912;
    border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
    margin-top: 4px;
    
}

#m_openlink{
   background-color: #f44336;
    font-weight: bold;
}

#gmodal {

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%; /* Full width */
  				height: 100%; /* Full height */
				background-color: white;
				padding: 20px;
				border: 1px solid black;
}

/* Modal Content/Box */
#gmodal-content {
  background-color: #fefefe;
  margin: 1% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  max-width: 320px; /* Could be more or less, depending on screen size */
}


#rdiv:hover {
  background: #ddf7f9  !important;
}

#rdiv {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.close-button {
  position: absolute;
  top: 108%;
  left: 44%;
}

.close-button span {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

.close-button:hover .circle {
  background-color: transparent;
    transition: all 0.3s ease-in-out; /* add transition for smooth effect */
  border: 4px solid #ff3912;
}



.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; /* add transition for smooth effect */
}

.close-button:hover span {
  color: #ff3912;
    transition: all 0.3s ease-in-out; /* add transition for smooth effect */
}
